@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700;800;900&display=swap");
body {
  font-family: Poppins;
  margin: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font-family: Poppins;
  cursor: pointer;
}

input,
textarea {
  font-family: Poppins;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1240px) {
  .container {
    padding: 0 32px;
  }
}

header {
  height: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
header nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  color: #3b3b3b;
}

.nav_center {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav_center li {
  margin: 0 16px;
}

.nav_right {
  display: flex;
  align-items: center;
}

.btnDevis {
  background-color: #318194;
  height: 40px;
  color: white;
  border-radius: 8px;
  width: 150px;
  margin-left: 24px;
}

.link-phone-header {
  display: flex;
  align-items: center;
  position: relative;
}
.link-phone-header::after {
  content: "";
  position: absolute;
  background-color: #bebebe;
  width: 100%;
  height: 1px;
  bottom: -5px;
}
.link-phone-header svg {
  margin-right: 8px;
}

.home_wrapper {
  margin-top: 60px;
  height: calc(100vh - 60px);
  background-image: url("../images/home-fond.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
.home_wrapper .container {
  height: 100%;
  position: relative;
  z-index: 1;
}
.home_wrapper .overlay {
  background-color: black;
  opacity: 0.19;
}

.home_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_container > h1 {
  margin: 0;
  font-size: 52px;
  text-align: center;
  line-height: 60px;
}
.home_container > h1 span {
  font-family: "Dancing Script";
}
.home_container > p {
  font-size: 20px;
  margin: 32px 0;
}

.btnExplore {
  height: 50px;
  color: #FFC215;
  background-color: transparent;
  border: 2px solid #FFC215;
  width: 140px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 60px;
  transition: all 0.3s ease;
}
.btnExplore:hover {
  background-color: #FFC215;
  color: white;
}

footer {
  background-color: #318194;
  color: white;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  gap: 16px;
}
@media (max-width: 1240px) {
  .footer_wrapper {
    padding: 32px;
  }
}
.footer_wrapper h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}
.footer_wrapper > div {
  width: 25%;
}
.footer_wrapper > div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer_wrapper > div ul li {
  position: relative;
  margin: 0px 0 6px 16px;
}
.footer_wrapper > div ul li::before {
  position: absolute;
  content: "";
  color: #FFF;
  top: 3px;
  left: -20px;
  transition: all 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-right' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  height: 14px;
  width: 14px;
}
.footer_wrapper > div ul li:hover::before {
  left: -16px;
}

.social_link svg {
  margin-right: 16px;
  width: 28px;
}

.contact_information > div {
  display: flex;
  margin-bottom: 8px;
}
.contact_information > div svg {
  width: 18px;
  margin-top: 4px;
}
.contact_information > div span {
  margin-left: 12px;
  word-break: break-word;
}

.destination_wrapper {
  background-image: url("../images/destination-over.jpg");
}

.offer_wrapper {
  background-image: url("../images/offer-over.jpg");
}
.offer_wrapper > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.devis_wrapper {
  background-image: url("../images/contact-over.jpg");
}
.devis_wrapper > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.devis_wrapper > .container .sendBtn {
  background-color: #77080B;
  align-self: center;
}

.card_destination_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 32px;
}
.card_destination_wrapper > div {
  height: 300px;
  width: calc(33.3333% - 16px);
  border-radius: 16px;
  padding: 32px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  position: relative;
  line-height: 20px;
  background-position: center;
}
.card_destination_wrapper > div:nth-child(1), .card_destination_wrapper > div:nth-child(2) {
  width: calc(50% - 16px);
}
@media (max-width: 950px) {
  .card_destination_wrapper > div:nth-child(1), .card_destination_wrapper > div:nth-child(2) {
    width: 100%;
  }
}
.card_destination_wrapper > div > span {
  color: white;
  font-size: 30px;
  font-weight: 600;
  z-index: 1;
}
.card_destination_wrapper > div .overlay {
  background-color: black;
  opacity: 0.19;
  left: 0;
}
@media (max-width: 1100px) {
  .card_destination_wrapper > div {
    height: 250px;
  }
}
@media (max-width: 950px) {
  .card_destination_wrapper > div {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.content_with_overlay {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}
.content_with_overlay .overlay {
  background-color: white;
  opacity: 0.8;
}
.content_with_overlay .container {
  z-index: 1;
  position: relative;
  color: black;
}
.content_with_overlay .container h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
.content_with_overlay .container > p {
  text-align: center;
}

.card_offer_wrapper {
  margin-top: 32px;
  display: flex;
  gap: 64px;
}
.card_offer_wrapper > div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  background-color: white;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding: 16px;
  color: #707070;
}
.card_offer_wrapper > div > img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px;
}
.card_offer_wrapper > div h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  color: #000000;
}
.card_offer_wrapper > div .day_night {
  margin: 8px 0;
  display: block;
}
.card_offer_wrapper > div .icon_info {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  gap: 16px;
}
.card_offer_wrapper > div .icon_info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_offer_wrapper > div .icon_info > div svg {
  height: 35px;
}
.card_offer_wrapper > div .icon_info > div span {
  margin-top: 8px;
  text-align: center;
}
.card_offer_wrapper ul {
  padding: 0;
  margin: 16px;
}
.card_offer_wrapper .price_pers {
  font-size: 18px;
  font-weight: 500;
}
.card_offer_wrapper .price_pers > span {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 1300px) {
  .card_offer_wrapper {
    gap: 32px;
  }
}
@media (max-width: 1230px) {
  .card_offer_wrapper {
    gap: 32px;
  }
}
@media (max-width: 1090px) {
  .card_offer_wrapper {
    gap: 12px;
  }
  .card_offer_wrapper > div > img {
    height: 200px;
  }
}
@media (max-width: 950px) {
  .card_offer_wrapper {
    flex-wrap: wrap;
  }
  .card_offer_wrapper > div {
    width: 100%;
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: unset;
  }
  .card_offer_wrapper > div > img {
    height: 300px;
  }
}

.other_choice {
  background-color: #FFC215;
  color: white;
  text-transform: uppercase;
  border-radius: 8px;
  height: 40px;
  width: 150px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
}

.devis_container {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.devis_container > div {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.devis_container > div input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  padding: 0 8px;
}
.devis_container > div input:focus {
  outline: none;
}
@media (max-width: 760px) {
  .devis_container > div input {
    width: 100%;
    flex-grow: unset;
    flex-shrink: unset;
    flex-basis: unset;
  }
}
.devis_container textarea {
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
.devis_container textarea:focus {
  outline: none;
}
@media (max-width: 760px) {
  .devis_container {
    padding: 16px;
  }
}/*# sourceMappingURL=style.css.map */