@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    margin: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    font-family: Poppins;
    cursor: pointer;
}

input,
textarea {
    font-family: Poppins;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;

    @media(max-width: 1440px) {
        max-width: 1200px;
    }

    @media(max-width: 1240px) {
        padding: 0 32px;
    }
}

header {
    height: 60px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;

    nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        color: #3b3b3b;
        position: relative;
    }

    .btnMenu {
        display: none;
        background-color: transparent;
        padding: 0;
        margin-left: 16px;

        svg {
            height: 24px;
        }
    }

    @media(max-width: 850px) {
        .btnMenu {
            display: flex;
        }
    }
}

.nav_center {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0 16px;
    }

    &.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: white;
        width: 100%;
        left: 0;
        border-top: 1px solid #c5c5c5;;
        &>li{
            padding: 16px 32px;
            margin: 0;
        }
    }

    @media(max-width: 850px) {
        display: none;
    }
}

.nav_right {
    display: flex;
    align-items: center;
    @media(max-width: 590px) {
        &>a{
            display: none;
        }
    }
}

.btnDevis {
    background-color: #318194;
    height: 40px;
    color: white;
    border-radius: 8px;
    width: 150px;
    margin-left: 24px;
}

.link-phone-header {
    display: flex;
    align-items: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: #bebebe;
        width: 100%;
        height: 1px;
        bottom: -5px;
    }

    svg {
        margin-right: 8px;
    }
}

.home_wrapper {
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

    .container {
        height: 100%;
        position: relative;
        z-index: 1;
    }

    .overlay {
        background-color: black;
        opacity: 0.4;
    }
}

#home{ animation: changeBg 6s infinite; }
@keyframes changeBg{
   0%,100%  {background-image: url("../images/home-animation/2.jpg");}
   25% {background-image: url("../images/home-animation/1.jpg");}
   50% {background-image: url("../images/home-animation/3.jpg");}
   75% {background-image: url("../images/home-animation/4.jpg");}
}
.home_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h1 {
        margin: 0;
        font-size: 52px;
        text-align: center;
        line-height: 60px;

        span {
            font-family: "Dancing Script";
        }
    }

    &>p {
        font-size: 20px;
        margin: 32px 0;
    }
}

.btnExplore {
    height: 50px;
    color: #FFC215;
    background-color: transparent;
    border: 2px solid #FFC215;
    width: 140px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px;
    transition: all 0.3s ease;

    &:hover {
        background-color: #FFC215;
        color: white;
    }
}

footer {
    background-color: #318194;
    color: white;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    gap: 16px;

    @media(max-width: 1240px) {
        padding: 32px;
    }

    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 0;
    }

    &>div {
        width: 25%;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                position: relative;
                margin: 0px 0 6px 16px;

                &::before {
                    position: absolute;
                    content: "";
                    color: #FFF;
                    top: 3px;
                    left: -20px;
                    transition: all 0.3s ease;
                    background-image: url("data:image/svg+xml,%3Csvg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-right' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
                    height: 14px;
                    width: 14px;
                }

                &:hover::before {
                    left: -16px;
                }
            }
        }
    }

    @media(max-width: 890px) {
        flex-wrap: wrap;
        column-gap: 32px;

        &>div {
            width: calc(50% - 16px);
        }
    }

    @media(max-width: 520px) {
        &>div {
            width: 100%;
        }
    }
}

.social_link {
    svg {
        margin-right: 16px;
        width: 28px;
    }
}

.contact_information {
    &>div {
        display: flex;
        margin-bottom: 8px;

        svg {
            width: 18px;
            margin-top: 4px;
        }

        span {
            margin-left: 12px;
            word-break: break-word;
        }
    }
}

.destination_wrapper {
    background-image: url("../images/destination-over.jpg");
}

.offer_wrapper {
    background-image: url("../images/offer-over.jpg");

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.devis_wrapper {
    background-image: url("../images/contact-over.jpg");

    &>.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sendBtn {
            background-color: #77080B;
            align-self: center;
        }
    }


}

.card_destination_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;

    &>div {
        height: 300px;
        width: calc(33.3333% - 16px);
        border-radius: 16px;
        padding: 32px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        position: relative;
        line-height: 20px;
        background-position: center;

        &:nth-child(1),
        &:nth-child(2) {
            width: calc(50% - 16px);

            @media(max-width: 950px) {
                width: 100%;
            }
        }

        &>span {
            color: white;
            font-size: 30px;
            font-weight: 600;
            z-index: 1;
        }

        .overlay {
            background-color: black;
            opacity: 0.19;
            left: 0;
        }

        @media(max-width: 1100px) {
            height: 250px;
        }

        @media(max-width: 950px) {
            width: 100%;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.content_with_overlay {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 64px 0;

    .overlay {
        background-color: white;
        opacity: 0.8;
    }

    .container {
        z-index: 1;
        position: relative;
        color: black;

        h2 {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
        }

        &>p {
            text-align: center;
        }
    }
}

.card_offer_wrapper {
    margin-top: 32px;
    display: flex;
    gap: 64px;

    &>div {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        background-color: white;
        box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.16);
        border-radius: 16px;
        padding: 16px;
        color: #707070;

        &>img {
            height: 250px;
            width: 100%;
            object-fit: cover;
            border-radius: 32px;
        }

        h3 {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 0;
            color: #000000;
        }

        .day_night {

            margin: 8px 0;
            display: block;
        }

        .icon_info {
            display: flex;
            margin-top: 24px;
            justify-content: space-between;
            gap: 16px;

            &>div {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    height: 35px;

                }

                span {
                    margin-top: 8px;
                    text-align: center;
                }
            }
        }
    }

    ul {
        padding: 0;
        margin: 16px;
    }

    .price_pers {
        font-size: 18px;
        font-weight: 500;

        &>span {
            font-size: 14px;
            font-weight: 400;
        }
    }

    @media(max-width: 1300px) {
        gap: 32px;
    }

    @media(max-width: 1230px) {
        gap: 32px;
    }

    @media(max-width: 1090px) {
        gap: 12px;

        &>div {

            &>img {
                height: 200px;
            }
        }
    }

    @media(max-width: 950px) {
        flex-wrap: wrap;

        &>div {
            width: 100%;
            flex-grow: unset;
            flex-shrink: unset;
            flex-basis: unset;

            &>img {
                height: 300px;
            }
        }
    }
}

.other_choice {
    background-color: #FFC215;
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
    height: 40px;
    width: 150px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}

.devis_container {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    background-color: white;
    width: 100%;
    max-width: 1200px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    box-sizing: border-box;

    &>div {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        input {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            height: 40px;
            border-radius: 8px;
            border: 1px solid #c5c5c5;
            padding: 0 8px;

            &:focus {
                outline: none;
            }

            @media(max-width: 760px) {
                width: 100%;
                flex-grow: unset;
                flex-shrink: unset;
                flex-basis: unset;
            }
        }
    }

    textarea {
        border-radius: 8px;
        border: 1px solid #c5c5c5;
        padding: 8px;
        width: 100%;
        box-sizing: border-box;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    @media(max-width: 760px) {
        padding: 16px;
    }
}

.location_wrapper {
    padding: 64px 0;
}

.loc_part_one {
    h3 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 0;
    }

    .advantage_wrapper {
        display: flex;
        margin-top: 32px;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card_advantage {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
        padding: 16px;
        border-radius: 16px;
        color: #707070;
        height: 140px;
        max-width: 250px;

        &>div {
            display: flex;
            align-items: center;

            .icons {
                border-radius: 12px;
                height: 40px;
                width: 40px;
                min-height: 40px;
                min-width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fbd2b2;
            }

            span {
                font-weight: 600;
                color: black;
                margin-left: 12px;
            }
        }
    }

    @media(max-width: 990px) {

        .advantage_wrapper {
            justify-content: flex-start;
        }

        .card_advantage {
            max-width: unset;
            width: calc(50% - 48px);
        }
    }

    @media(max-width: 600px) {
        .card_advantage {
            width: 100%;
            height: 120px;
        }
    }
}

.loc_part_two {
    padding: 32px 0;

    h3 {
        font-size: 20px;
        font-weight: 500;
    }

    .vans_wrapper {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap;
        margin-top: 32px;

        &>div {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;

            &>img {
                height: 150px;
                border-radius: 16px;
                width: 100%;
                object-fit: cover;
            }
        }

        .description_van {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .place {
                color: #707070;
                display: flex;
                align-items: center;

                svg {
                    height: 14px;
                    margin-right: 2px;
                }
            }

            .name {
                font-weight: 600;
                font-size: 18px;
            }
        }

        @media(max-width: 1090px) {
            gap: 16px;

            &>div {
                &>img {
                    height: 130px;
                }
            }
        }

        @media(max-width: 1020px) {
            &>div {
                flex-grow: unset;
                flex-shrink: unset;
                flex-basis: unset;
                width: calc(50% - 16px);

                &>img {
                    height: 200px;
                }
            }
        }

        @media(max-width: 600px) {
            &>div {
                width: 100%;

                &>img {
                    height: 250px;
                }
            }
        }
    }

}

.contact_global {
    padding: 0 0 64px 0;
}

.contact_global_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &>div {
        padding: 20px;
        border-radius: 8px;
        border: 1px solid #e4e4e4;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 250px;
        height: 140px;

        &>svg {
            height: 30px;
        }

        &>span {
            margin-top: 16px;
            word-break: break-word;
        }
    }

    @media(max-width: 900px) {
        gap: 16px;
        flex-wrap: wrap;

        &>div {
            width: calc(50% - 50px);
            max-width: unset;
            height: 110px;
        }
    }

    @media(max-width: 540px) {
        &>div {
            width: 100%;
        }
    }
}

.prestation {
    padding: 32px 0;

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        &>span {
            font-size: 18px;
            margin: 16px;
            position: relative;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background-color: #c5c5c5;
                left: -16px;
            }

            &:nth-child(1)::before {
                display: none;
            }
        }
    }
}